@media (max-width: 1200px)
    .container
        max-width: 960px
    .hotel
        &-slider
            width: 590px
            &__img
                height: 100%
                width: 100%
                object-fit: cover
    .card
        width: 230px
        height: 230px
    .footer
        &__input
            flex-basis: 100%
        &__under
            display: flex
            align-items: center
            justify-content: space-between
            padding: 0
            margin: 0
    .modal
        &__button
            flex-basis: 100%
@media (max-width: 992px)
    .container, .newsletter-wrapper
        max-width: 700px
    .logo
        width: 132px
    .navbar
        &-top
            padding-top: 30px
            padding-bottom: 30px
        &__search
            margin-left: auto
        &-menu
            padding-top: 21px
            padding-bottom: 21px
            &__link
                font-size: 12px
                line-height: 15px
    .search
        &__input
            width: 340px
    .hotel
        &-grid
            flex-direction: column
        &__slider
            margin-bottom: 30px
        &-right
            flex-direction: row
        &-slider
            width: 100%
    .booking
        width: 340px
        margin: 0
    .map
        width: 340px
        height: 210px
    .reviews
        &-slider
            &__item
                max-width: 580px
    .activites
        &-wrapper
            flex-wrap: wrap
        &__card
            margin-bottom: 20px
    .card
        height: 250px
    .card
        width: 340px
        height: 255px
    .footer
        &-wrapper
            grid-template-columns: repeat(6,1fr)
            grid-row-gap: 40px
        &__input
            flex-basis: 49%
        &__logo
            grid-row: 1 / 2
            grid-column: span 2
        &__social
            &-network
                grid-row: 1 / 2
                grid-column: span 4
                align-self: center
        &__categories
            grid-row: 2 / 3
            grid-column: span 2
        &__additional
            grid-column: span 2
        &__legal
            grid-column: span 2
        &__contact
            &-details
                grid-row: 3
                grid-column: span 5
            &-form
                grid-column: span 5
                grid-row: 4
        &__under
            grid-column-start: 1
            grid-column-end: 7
@media (max-width: 768px)
    .container
        max-width: 700px
        width: 92%
    .navbar
        &-menu
            &__link
                font-size: 12px
                line-height: 10px
    .search
        margin-left: 48px
    .rating
        margin-top: 16px
    .hotel
        padding-bottom: 60px
        &-slider
            height: 450px
            &__img
                height: 450px
                width: 100%
    .booking
        margin-right: 20px
        margin-left: 0
        &__info
            margin-bottom: 7px
            margin-right: -6px
            margin-top: 3px
    .map
        margin-left: 0
    .subscribe
        margin-bottom: -13px
    .button
        width: 295px
    .newsletter
        &-wrapper
            padding: 46px 0 66px
            height: 75px
        &-title
            margin-top: 34px
    .reviews
        padding: 0
        margin-bottom: 60px
        &-slider
            &__item
                padding: 0
                padding-bottom: 30px
                &:after, &::before
                    display: none
            &__button
                top: 46%
                &--prev
                    left: 14px
                &--next
                    right: -14px
            &__text
                max-width: 455px
                height: 133px
        &__title
            margin-bottom: 52px
            font-size: 30px
            line-height: 38px
    .activites
        padding-top: 40px
        padding-bottom: 50px
    .card
        &__title
            font-size: 16px
            line-height: 20px
            width: 145px
            &__1
                width: 145px
            &__2
                width: 153px
            &__3
                width: 161px
            &__4
                width: 200px
    .footer
        padding-top: 70px
        &__title
            max-width: 260px
            &--mb-3
                margin-bottom: 32px
                margin-top: 10px
        &__logo
            width: 104px
            height: 120px
        &__under
            display: flex
            align-items: center
            justify-content: space-between
            flex-basis: 100%
            max-width: 696px
            height: 22px
            grid-column: span
            grid-row: 5
        &__form
            max-width: 539px
        &__input
            max-width: 255px
        &__button
            max-width: 160px
        &__social
            &-network
                margin-left: -53px
        &__additional
            margin-left: -26px
            maw-width: 260px
        &__legal
            margin-left: 19px
        &__contact
            &-details
                margin-left: 4px
            &-form
                margin-left: 0
                margin-top: -8px
        &__form
            margin-bottom: 16px
        &__categories
            max-width: 152px
            margin-left: 0
    .addit
        max-width: 260px
        display: flex
        &__tlt
            flex-basis: 100%
@media (max-width: 767px)
    body
        padding-top: 78px
    .navbar
        &--mobile
            &_fixed
                position: fixed
                left: 0
                right: 0
                top: 0
                z-index: 99
        &__user, &__search
            &--mobile
                &--hidden
                    display: none
                &--visible
                    display: flex
        &__user
            flex-direction: column
            justify-content: center
        &-bottom
            display: none
            position: fixed
            left: 0
            right: 0
            bottom: 0
            top: 70px
            padding-top: 38px
            &--visible
                display: block
                max-height: 100%
                overflow-y: auto
        &-menu
            flex-direction: column
            &__item
                margin-bottom: 20px
                &--mobile
                    &--visible
                        display: block
    .menu
        &-button
            display: flex
            width: 16px
            height: 11px
            padding: 0
            align-items: center
            justify-content: space-between
            flex-direction: column
            border: none
            cursor: pointer
            &__line
                width: 16px
                height: 1px
                background-color: $text-color
    .user
        &__name
            &--light
                color: $light
                margin-left: 0
                margin-top: 10px
    .newsletter
        &-wrapper
            max-width: 700px
            width: 92%
            height: 175px
            flex-direction: column
            align-items: flex-start
            padding: 0
            padding-top: -1px
            margin-top: -50px
            &__subscribe
                width: 100%
    .reviews
        width: 100%
        &-slider
            &__item
                max-width: 590px
                max-height: 435px
            &__button
                top: 32px
                &--prev
                    left: 50%
                    margin-left: -85px
                    transform: translate(-50%,0)
                &--next
                    right: 50%
                    margin-right: -65px
                    transform: translate(150%,0)
            &__text
                padding-right: 20px
                padding-left: 20px
                margin: 0
    .newsletter
        &__subscribe
            width: 100%
            margin-right: 20px
    .subscribe
        max-width: 350px
        &__input
            max-width: 305px
    .booking
        &__button
            width: 100%
    .map
        margin-left: 0
    .card
        width: 45%
        height: 255px
    .activites
        padding-top: 40px
        padding-bottom: 60px
    .footer
        &__input
            flex-basis: 100%
            max-width: 539px
    .modal
        &__dialog
            overflow: auto
            position: fixed
            max-height: 100%
@media (max-width: 576px)
    .menu
        &-button
            display: flex
            width: 16px
            height: 11px
            padding: 0
            align-items: center
            justify-content: space-between
            flex-direction: column
            border: none
            cursor: pointer
            &__line
                width: 16px
                height: 1px
                background-color: $text-color
    .logo
        width: 99px
    .stars
        flex-basis: auto
    .hotel
        &-name
            flex-basis: 100%
        &-wrapper
            justify-content: space-between
        &-info
            &__text
                flex-basis: 100%
            &__name
                margin-top: 10px
                margin-bottom: 0
            &__rating
                display: none
            &__offer
                order: -1
                margin-left: 0
        &-slider
            &__img
                width: 100%
                height: 250px
    .hotel
        &-slider
            height: 250px
        &__slider
            margin-bottom: 20px
        &-right
            flex-direction: column
            height: 450px
    .booking
        width: 100%
        margin-right: 0
    .map
        width: 100%
        margin-left: 0
    .card
        width: 100%
    .footer
        &-wrapper
            grid-template-columns: minmax(280px,500px)
            grid-row: 1
            grid-column: 1
        &__social
            &-network
                grid-row: 2
                grid-column: 1
                margin-left: 0
        &__additional
            grid-row: 3
            grid-column: 1
            margin-left: 0
        &__categories
            grid-row: 4
            grid-column: 1
        &__legal
            grid-row: 5
            grid-column: 1
            margin-left: 0
        &__contact
            flex-basis: 100%
            &-details
                grid-row: 6
                grid-column: 1
            &-form
                grid-row: 7
                grid-column: 1
        &__under
            grid-row: 8
            grid-column: 1
            flex-wrap: wrap
    .modal
        &__dialog
            top: 43%
            padding: 33px 26px
            max-width: 500px
        &__title
            max-width: 250px
        &__form
            max-width: 250px
@media (max-width: 320px)
    .container
        max-width: 280px
        width: 92%
    .stars
        margin-right: 20px
    .logo
        &__image
            height: 13px
    .navbar
        &-top
            padding: 26px 0
    .breadcrumb
        &-list
            padding: 15px 0 19px
    .hotel
        padding-bottom: 43px
        &__slider
            height: 180px
        &-right
            height: 400px
        &-info
            padding-bottom: 34px
        &-slider
            height: 180px
            &__img
                height: 180px
    .map
        height: 172px
        margin: 0
    .newsletter
        padding: 1px 0 66px
        height: 320px
        &-wrapper
            height: 300px
            margin-top: -44px
            padding-bottom: 72px
            margin-top: -26px
            padding-bottom: 50px
        &-title
            margin-bottom: 0px
            margin-top: 100px
        &-title
            margin-left: 9px
            margin-bottom: 0
            &__span
                font-weight: 100
                font-size: 20px
                line-height: 25px
            &__strong
                margin-bottom: 17px
                font-weight: 600
                font-size: 30px
                line-height: 38px
            &__subscribe
                height: 55px
                width: 100%
    .subscribe
        height: 280px
        margin-top: 25px
        margin-left: 5px
        &__input
            max-width: 280px
            height: 55px
            padding-left: 20px
            width: 280px
        &__button
            right: 11px
    .reviews
        padding: 37px 0 39px 0
        margin: 0
        &__title
            font-style: normal
            font-weight: bold
            font-size: 18px
            line-height: 23px
            text-align: center
            width: 245px
            height: 40px
            padding: 0
            margin: 0
            margin-bottom: 46px
            margin-left: 17px
        &-slider
            &__text
                text-align: left
                height: 266px
                font-family: Mulish
                font-style: normal
                font-weight: normal
                font-size: 12px
                line-height: 160%
                width: 219px
                padding: 0
            &__item
                max-width: 580px
            &__profile
                margin-top: -41px
                margin-left: 50px
                margin-bottom: 1px
            &__avatar
                margin-bottom: 8px
                margin-right: 52px
            &__username
                margin-bottom: 10px
                margin-right: 49px
            &__date
                margin-right: 49px
            &__raiting
                margin-right: 49px
                margin-bottom: 30px
            &__button
                top: 33px
                &--prev
                    margin-left: -93px
                &--next
                    margin-right: -58px
    .button
        width: 235px
    .container
        &__span
            margin-bottom: 5px
    .booking
        &__price
            margin-left: -5px
            margin-top: -3px
        &__call-center
            margin-left: -4px
        &__numbers
            margin-left: 5px
        &__button
            margin-left: -6px
    .activites
        padding-top: 57px
        padding-bottom: 40px
        &__title
            font-size: 18px
            line-height: 23px
            margin: 0
            margin-bottom: 36px
        &__card
            &__1
                margin-bottom: 21px
            &__2
                order: 1
                margin-bottom: 20px
            &__3
                margin-bottom: 28px
            &__4
                order: 1
    .card
        width: 100%
    .footer
        padding-top: 64px
        &-wrapper
            grid-template-columns: repeat(1, 280px)
            grid-row-gap: 42px
        &__ul
            margin-top: -2px
        &__social
            &-network
                width: 167px
                height: 67px
                flex-wrap: wrap
                margin-left: 0
                margin-top: -8px
        &__title
            &--inline
                grid-row: 2
                grid-column: 1
                width: 167px
                margin: 0
                margin-bottom: 22px
            &--mb-3
                margin-bottom: 38px
                margin-top: 6px
        &__txt
            font-style: normal
            font-weight: normal
            font-size: 14px
            line-height: 160%
        &__contact
            &-details
                max-width: 280px
        &__button
            width: 160px
            height: 50px
            order: 2
        &__info
            order: 1
            margin-bottom: 15px
            flex-basis: 100%
        &__under
            display: flex
            flex-wrap: wrap
            grid-row: 8
            width: 277px
            grid-column-start: 1
            grid-column-end: 1
            height: 47px
        &__links
            margin-right: 3px
        &__cont
            width: 277px
            height: 15px
        &__legal
            grid-row: 3
            margin-left: 0
            margin-top: -10px
        &__additional
            grid-row: 4
            margin-left: 0
            margin-top: -10px
        &__categories
            grid-row: 5
            margin-left: 0
            margin-top: -8px
        &__contact
            &-details
                margin-left: 0
                margin-top: -10px
            &-form
                margin-top: -12px
        &__form
            margin-top: -19px
        &__input
            max-width: 280px
        &__info
            margin-top: -8px
        &__under
            margin-top: -31px
        &__cont
            margin-bottom: 14px
        &__txt
            max-width: 249px
            margin-left: -10px
            margin-top: -4px
        &__text
            margin-top: -14px
        &__item
            &--mb-2
                margin-bottom: 29px
    .navbar
        &-menu
            max-width: 320px
            padding-right: 38px
            padding-left: 38px
            padding-top: 0
            &--mobile
                &--visible
                    max-width: 243px
                    flex-basis: 100%
            &__item
                margin-bottom: 0
        &__search
            &--mobile
                &--visible
        &__link
            margin-top: 1px
    .search
        margin-left: 0
        margin-bottom: 35px
        &__input
            max-width: 243px
    .user
        &__name
            &--light
                margin-bottom: 28px
                margin-top: 6px
    .srch
        margin-bottom: 1px
    .ttm
        margin-bottom: 17px
    .feel
        margin-left: -2px
    .modal
        &__dialog
            max-width: 300px
            padding: 33px 40px
            top: 55%
    .title
        &__all
            margin-bottom: 17px
            margin-top: -4px
    .send
        margin-top: -10px